<header class="top-header shadow-sm">
    <div class="dropdown ms-auto">

        <div
                class="d-flex align-items-center gap-3 dropdown-toggle dropdown-toggle-no-caret"
                data-bs-toggle="dropdown"
                style="cursor: pointer"
        >

            <div class="text-end d-none d-md-block">
                <div class="fw-bold fs-6" id="userName"></div>
                <div class="text-muted" style="font-size: 0.75rem" id="userRole"></div>
            </div>

            <img
                    id="userAvatar"
                    class="rounded-circle shadow-sm"
                    width="40"
                    height="40"
                    alt="" src=""/>

        </div>

        <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 mt-3">
            <li>
                <a class="dropdown-item py-2 mt-1" href="#">
                    <i class="fa-regular fa-user me-2 text-primary"></i> Hồ sơ cá nhân
                </a>
            </li>

            <li>
                <a class="dropdown-item py-2 text-danger fw-bold" href="../login.html">
                    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i> Đăng xuất
                </a>
            </li>
        </ul>

    </div>
</header>